.title{
  color:white;
  font-size:25px;
  text-align:center;
  background-color:#9AB763;
}

.good-class{
  display: inline-block; 
  padding: 10px 20px;
  text-decoration: none;
  text-align:center;
  background-color:green;
  color:white;
  border:none;
  border-radius:5px;
}

.bad-class{
  display: inline-block; 
  padding: 10px 20px;
  text-decoration: none;
  text-align:center;
  background-color:#6a6a6a;
  color:white;
  border:none;
  border-radius:5px;
  cursor:default;
}


a{
  display: inline-block; 
  padding: 10px 20px;
  text-decoration: none; /* リンクの下線を消す */
  cursor:pointer;
  text-align:center;       /* テキストを中央寄せ */
  background-color:green; /* 青色の背景 */
  color:white;             /* 白色の文字 */
  border:none;           /*枠線消す*/
  border-radius:5px;       /* 角丸 */
}

.policy{
  margin:25px;
}

#policy{
  width:500px;
  height:250px;
  padding:25px;
  overflow-y: scroll;
}


.goods{
  display:flex;
}

.goods img{
  height:250px;
}

.goods a{
  margin-left:25px;
  background-color:#7f997f;
}